@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --skin: #f6c09c;
    --skin-shadow: #ED927D;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
    --bright-teeth:#DADFF2;
  }
  

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.head{
    width: 120px;
    height: 240px;
    background-color: var(--skin);
    border-radius: 100px;
    position: relative;
}

.eye-left, .eye-right{
    width: 30px;
    height: 20px;
    position: absolute;
    background-color: var(--white);
    top: 60px;

}

.eye-left{
    left: 31px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 15px;
}

.eye-right{
    right: 31px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 13px;
}

.eye-left-iris, .eye-right-iris{
    width: 7px;
    height: 12px;
    background-color: var(--black);
    position: absolute;
    border-radius: 50%;
    left: 40%;
    top: 20%;
}

.eye-left-pupil, .eye-right-pupil{
    width: 3px;
    height: 6px;
    background-color: var(--white);
    position: absolute;
    border-radius: 50%;
    top: 40%;
    right: 10%;
}

.nose{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid var(--skin-shadow);
    background-color:var(--skin) ;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    left: calc(50% - 15px);
    top: 80px;
    box-shadow: 1px 1px 1px 1px var(--skin-shadow);
    z-index: 2;
}

.bottom{
    width: 120px;
    height: 150px;
    position:absolute;
    background-color: var(--black);
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    bottom: 0;
}

.mouth{
    position: absolute;
    width: 60px;
    height: 35px;
    background-color: var(--dark-red);
    top: 30px;
    left: calc(50% - 30px);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 1;
}

.teeth--up, .teeth--down{
    background-color: var(--white);
    position: absolute;
}

.teeth--up{
    width: 55px;
    height: 10px;
    top: 30px;
    left: calc(50% - 27.5px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 3;
}

.teeth--up--bright, .teeth--down--bright{
    background-color: var(--bright-teeth);
    position: absolute;
}

.teeth--up--bright{
    width: 55px;
    height: 4px;
}



